<% include header.ejs %>
<body class="text-center">
    <div class="form-singin">
        <div class="card mt-5 text-light bg-dark shadow-lg">
            <div class="card-header">
                <h2 class="card-title">ELECCIONES 2019</h2>
            </div>
            <div class="card text-primary shadow-lg">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Ingresar a Votar</h3>
                    </div>
                    <form action="/users" method="POST">
                        <div class="cargaDatos">
                            <input class="form-control" type="text" name="logname" 
                            placeholder="Nombre" required>
                            <input class="form-control" type="text" name="logdni" 
                            placeholder="DNI" required>
                            <select class="form-control" name="logsex">
                                <option value ="male">Hombre</option>
                                <option value ="female">Mujer</option>    
                            </select>
                        </div>
                        <a class="btn btn-secondary btn-lg" href="/">Volver</a>
                        <input class="btn btn-success btn-lg" type="submit" value="VOTAR">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>